@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/CustomFont.woff2') format('woff2'),
       url('./assets/fonts/CustomFont.woff') format('woff');  
}

h1{
  background-color: lightblue ;
}

/* ================

* Global Styles

================= */

h2{
  font-size: 26px;
}

.button {
  background-color: lightblue;
  border: none;
  color: darkblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  line-height: 1.5; /* Vertical spacing */
  font-weight: bold;
}
