/* =========================================================
   ROOT / VARIABLEN
   ========================================================= */

:root {
  --color-antrhrazit: #2b2e34;
  --color-neongelb: #f1ff27;
  --color-lavendel: #d8c8ff;
  --color-mint: #c7f5e9;
  --color-white: #ffffff;
  --color-antrhrazit-rgb: 43, 46, 52;
  --abstand-klein: 20px;
  --swiper-theme-color: transparent !important;
}

/* =========================================================
   GLOBAL / RESET
   ========================================================= */

* {
  box-sizing: border-box; /* Padding + Border werden in Breite einberechnet */
}

html {
  scroll-behavior: smooth; /* Sanftes Scrollen */
}

body {
  margin: 0;
  background: linear-gradient(
    to bottom,
    var(--color-mint) 0%,
    var(--color-lavendel) 25%,
    var(--color-antrhrazit) 50%,
    var(--color-lavendel) 75%,
    var(--color-mint) 100%
  );
}

/* =========================================================
   LAYOUT – HEADER
   ========================================================= */

header {
  position: fixed;
  height: calc(6vw + 100px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-content {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;
}

/* Logo + Menü */

.logo {
  width: 18vw;
  min-width: 220px;
  max-width: 350px;
}

.menu-icon {
  width: 3.3vw;
  min-width: 40px;
  max-width: 60px;
}

/* =========================================================
   LAYOUT – MAIN
   ========================================================= */

.main-content {
  max-width: 1200px;
  margin: 0 max(6rem, calc(100svw - 1200px) * 0.5); /* Zentriert den Inhalt horizontal */
  transition: all 0.3s ease;
}

.first-card {
  padding-top: 150px;
}

.abstand-klein {
  padding-top: var(--abstand-klein);
}

.box-maximal-breit {
  max-width: 650px;
}

/* =========================================================
   LAYOUT – CARDS / GRID
   ========================================================= */

.cards-top-or-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Bild oben */
.card-image-top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.card-image-top-or-side {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.lead-image {
  order: 1;
  margin-left: 30px;

  max-width: 450px;
  min-width: 150px;
  width: 75svw;
}

.content-image {
  max-width: 70%;
  min-width: 220px;
  width: 65svw;
}

/* =========================================================
   KOMPONENTEN
   ========================================================= */

/* Box */

.box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  padding: 36px;
  margin: 0 auto; /* Zentriert die Box horizontal */
  margin-bottom: 30px;
  scroll-margin-top: 200px;
}

.darkbox {
  background-color: var(--color-antrhrazit);
  color: var(--color-white);
}

/* =========================================================
   BUTTONS
   ========================================================= */

button {
  background-color: var(--color-white);
  border: none;
  color: var(--color-antrhrazit);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  line-height: 1.5; /* Vertical spacing */
  font-family: "Manrope" sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 240px;
}

button:hover {
  background-color: var(--color-neongelb);
  transform: scale(1.05);
  transition: 0.3s;
}

button {
  transition: 0.3s;
}

.button-mit-pfeil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Abstand zwischen Text und Pfeil */
  margin-top: 70px;
  margin-bottom: 70px;
}

.centered-arrow {
  display: block;
  margin: 10px auto; /* Zentriert das Bild horizontal */
}

/* FONTS */

.lead-title {
  font-family: "Special Elite", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
}

.box-title {
  font-family: "Special Elite", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 20px;
  line-height: 140%;
}

.box-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5; /* Vertical spacing */
  margin: 0;
}

.lead-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5; /* Vertical spacing */
}

.hover_neon:hover {
  color: var(--color-neongelb);
  transition: color 0.3s;
}

/* Checkbox verstecken */
.tag-container input {
  display: none;
}

/* Button-Stil */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.tags-select {
  border-radius: 15px;
  border: none;
}

option {
  padding: 10px;
  margin: 4px;
  border-radius: 15px;
  border: 1px solid blue;
}

/* Checkbox komplett verstecken */
.tags input {
  display: none;
}

/* Button Design */
.tags label {
  display: inline-block;
  background: white;
  padding: 10px 18px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
}

.tags label:hover {
  transform: translateY(-3px);
}

.tags input:checked + label {
  background: var(--color-neongelb);
}

.labels {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

/* =========================================================
   FOOTER
   ========================================================= */

.footer-box {
  background-color: var(--color-antrhrazit);
  color: var(--color-white);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 0;
  margin-top: 60px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 220px;
}

.footer-column-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: var(--color-white);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 0.05em;
  line-height: 1.4;
}

.footer-meta {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  font-size: 0.95rem;
  margin-bottom: 60px;
}

/* =========================================================
   SWIPER (LIBRARY)
   ========================================================= */

.swiper {
  height: 430px;
  position: relative;
}

.ranking_box {
  position: relative;
}

.swiper-button-prev {
  background-image: url("../assets/icons/arrow_left.svg");
  color: black;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -40px;
  transform: translate(50%, -50%);
}

.swiper-button-prev::before {
  display: none;
}

.swiper-button-next {
  background-image: url("../assets/icons/arrow_right.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.swiper-button-next::before {
  display: none;
}

.swiper-slide {
  padding: 45px 45px; /* Abstand oben und unten */
}

/* Versteckt die Pagination und Scrollbar, da sie nicht benötigt werden */

.swiper-pagination,
.swiper-scrollbar {
  display: none !important;
}


/* =========================================================
   ANIMATIONEN
   ========================================================= */

.slide-in-image {
  /* Startzustand: außerhalb rechts */
  transform: translateX(100%);
  
  /* Animation */
  animation: slideInFromRight 2s ease-out forwards;
}

/* Keyframes für die Bewegung */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* komplett rechts außerhalb */
    opacity: 1; /* optional: leichtes Einblenden */
  }

  to {
    transform: translateX(0); /* normale Position */
    opacity: 1;
  }
}


/*
.hover-zoom {
  transition: transform 0.3s ease; 
}

.hover-zoom:hover {
  transform: scale(0.8) translateY(100px);

}

*/

/* =========================================================
   RESPONSIVE
   ========================================================= */


@media (max-width: 1000px) {
  .main-content {
    margin: 0 2rem;
  }


  .lead-box {
    transform: translateY(-70px);
  }

  /* Alle Boxen untereinander anordnen */

  .cards-top-or-side {
    grid-template-columns: 1fr;
  }

  .card-image-top-or-side {
    flex-direction: column;
  }

  .lead-image {
    order: -1;
  }

  .bank {
    transform: translateY(
      max(50px, 8vw)
    ); /* erster Wert: 60px, damit es nicht zu viel wird, zweiter Wert: 9vw, damit es auf kleineren Bildschirmen genug Abstand hat */
  }

  .gerichtshammer {
    transform: translateY(max(60px, 9vw));
  }

  .grabstein {
    transform: translateY(max(70px, 10vw));
  }

  .tresor {
    transform: translateY(max(70px, 10vw));
  }
}

@media (min-width: 1000px) {
  .bank {
    transform: translateY(max(20px, 60px));
  }

  .gerichtshammer {
    transform: translateY(max(60px, 80px));
  }

  .grabstein {
    transform: translateY(max(70px, 120px)) scale(0.9);
  }

  .tresor {
    transform: scale(0.75);
  }

  .allgemeines_erste_box {
    transform: translateY(-200px);
  }

  .allgemeines_zweite_box {
    transform: translateY(400px);
  }

  .gerichtshammer-box {
    transform: translateY(-100px);
  }

  .grabstein-box {
    transform: translateY(150px);
  }

  .tresor-box {
    transform: translateY(100px);
  }

  .content-below-small-boxes {
    transform: translateY(50px);
  }

  .erster-button {
    transform: translateY(-100px);
  }


}
