/* Immer nur margin-top: 0; und dann nach unten arbeiten */

:root {
  --color-antrhrazit: #2B2E34;
  --color-neongelb: #F1FF27;
  --color-lavendel: #D8C8FF;
  --color-mint: #C7F5E9;
  --color-white: #FFFFFF;
}

body {
  background: linear-gradient(
    to bottom,
    var(--color-mint) 0%,  
    var(--color-lavendel) 25%,
    var(--color-antrhrazit) 50%,
    var(--color-lavendel) 75%,
    var(--color-mint) 100%
  );
}


h1 {
  font-family: 'Special Elite', sans-serif;
  font-size: 1.5rem;
}

.lead-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5; /* Vertical spacing */
}


h2{
  font-size: 26px;
}

.button {
  background-color: var(--color-white);
  border: none;
  color: var(--color-antrhrazit);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  line-height: 1.5; /* Vertical spacing */
  font-family: 'Manrope' sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
